p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: var(--mainDarkColor);
  background-color: var(--body-and-modals-bgc);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  transition: background-color $duration $timingFunction;
  margin: 0 auto;
}

// .backdrop {
//   position: fixed;
//   transition: opacity 0.25s, visibility 0.25s;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   background-color: rgba(0, 0, 0, 0.56);
// }

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-and-circle-on-switcher-color;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* Firefox */
::-moz-scrollbar {
  width: 8px;
  height: 8px;
}

::-moz-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

::-moz-scrollbar-thumb:hover {
  background-color: #aaa;
}
