@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root[data-theme=light] {
  --body-and-modals-bgc: #ffffff;
  --before-postionX: 2px;
  --before-postionY: 2px;
  --mainDarkColor: #000000;
  --footerBgColor: #f5f5f5;
  --footerTxtColor: #595959;
  --backgroundPage: transparent;
  --logo-name-color: #282828;
  --swipe-bullet-color: #595959;
  --swipe-bullet-color-active: #282828;
  --swipe-nav: #595959;
  --swipe-nav-disabled: #595959;
  --title-color: #111111;
  --description-color: #282828;
  --header-nav-color: #595959;
  --team-sm-bnt-accent: #ff6b01;
  --background-catalog: #ffffff;
  --upcoming-film-categories-check-color: #111111;
  --upcomind-film-df-color: #282828;
  --upcoming-film-bulb-color: #f8f8f8;
  --upcoming-film-descr-text-color: #282828;
  --modal-trailer-bgc: #ffffff;
  --close-btn-fill: #282828;
  --modal-trailer-text-color: #111111;
  --modal-trailer-box-shadow-color: rgba(0, 0, 0, 0.22);
}

:root[data-theme=dark] {
  --body-and-modals-bgc: #000000;
  --before-postionX: 28px;
  --before-postionY: 2px;
  --footerBgColor: #000000;
  --footerTxtColor: #B7B7B7;
  --backgroundPage: #ffffff;
  --logo-name-color: #ffffff;
  --swipe-bullet-color: #b7b7b7;
  --swipe-bullet-color-active: #ffffff;
  --swipe-nav-disabled: #b7b7b7;
  --swipe-nav: #B7B7B7;
  --title-color: #ffffff;
  --description-color: #f8f8f8;
  --header-nav-color: #B7B7B7;
  --team-sm-bnt-accent: #932727;
  --background-catalog: #000000;
  --upcoming-film-categories-check-color: #b7b7b7;
  --upcomind-film-df-color: #ffffff;
  --upcoming-film-bulb-color: #ffffff;
  --upcoming-film-descr-text-color: #f8f8f8;
  --mainDarkColor: #ffffff;
  --modal-trailer-bgc: #111111;
  --close-btn-fill: #FFFFFF;
  --modal-trailer-text-color: #FFFFFF;
  --modal-trailer-box-shadow-color: rgba(255, 107, 8, 0.42);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: var(--mainDarkColor);
  background-color: var(--body-and-modals-bgc);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  transition: opacity 0.25s, visibility 0.25s;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.56);
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #932727;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* Firefox */
::-moz-scrollbar {
  width: 8px;
  height: 8px;
}

::-moz-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

::-moz-scrollbar-thumb:hover {
  background-color: #aaa;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
.section {
  padding-top: 10px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
.section__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

button {
  cursor: pointer;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header {
  max-width: 1600px;
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo__site {
  display: flex;
  align-items: center;
  color: #ffffff;
  fill: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__site:hover, .logo__site:focus {
  transform: scale(1.25);
}

.logo__site:hover .logo__name {
  color: #ff6b08;
}

.logo__icon {
  fill: var(--icon-color);
}

.logo__name {
  display: none;
}

.header-navigation {
  display: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.navigation-list__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17px;
  color: var(--header-nav-color);
  line-height: 1.667;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__link:hover {
  color: #ff6b08;
  cursor: pointer;
  outline: none;
}

.navigation-list__link-current {
  color: #ff6b08;
}

.navigation-list__item:not(:last-child) {
  margin-right: 32px;
}

.mobile-menu {
  position: fixed;
  width: 204px;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  background-color: var(--footerBgColor);
  border-radius: 0px 8px 8px 0px;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateX(0%);
}

.menu-logo {
  margin-bottom: 44px;
}

.mob-navigation-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-navigation-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--menu-text-color);
}

.mob-navigation-list__link-current {
  color: #ff6b08;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .header {
    height: 60px;
  }
  .logo__name {
    display: block;
    color: var(--logo-name-color);
    font-weight: 400;
    font-size: 30px;
    line-height: 1.17;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .logo__svg {
    margin-right: 10px;
  }
  .header-navigation {
    display: block;
    margin-left: 59px;
    margin-right: 175px;
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .header-navigation {
    margin-left: 307px;
    margin-right: 417px;
  }
}
.menu-button {
  color: var(--header-nav-color);
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.weeklytrends_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}
@media screen and (min-width: 1280px) {
  .weeklytrends_nav {
    margin-bottom: 28px;
  }
}

.weeklytrends_title {
  color: var(--title-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .weeklytrends_title {
    font-size: 24px;
    line-height: 28.13px;
  }
}
@media screen and (min-width: 1280px) {
  .weeklytrends_title {
    font-size: 28px;
    line-height: 32.81px;
  }
}

.weeklytrends_seeAll_link {
  color: #F87719;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .weeklytrends_seeAll_link {
    font-size: 24px;
    line-height: 28.13px;
  }
}
@media screen and (min-width: 1280px) {
  .weeklytrends_seeAll_link {
    font-size: 28px;
    line-height: 32.81px;
  }
}

.weeklytrends_seeAll_link:hover {
  color: #ff001b;
}

.weeklytrends_gallery_list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.weeklytrends_gallery_image {
  border-radius: 5px;
}

.weekly-trends--flex {
  flex-direction: column;
}

div.weekly-trends--start {
  justify-content: flex-start;
}

div.weekly-trends--rating {
  text-align: end;
  transform: translateX(0);
}

@media screen and (max-width: 767px) {
  div.weekly-trends--card {
    width: 280px;
  }
}

@media screen and (max-width: 767px) {
  div.weekly-trends--card:nth-child(-n+2) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container--weekly-trends {
    width: 320px;
  }
}

.upcoming {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .upcoming {
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1280px) {
  .upcoming {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .container--upcoming {
    width: 320px;
  }
}

.section-title {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 118.75%;
  text-transform: uppercase;
  /* 19/16 */
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
    line-height: 116.666667%;
    /* 28/24 */
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 28px;
    line-height: 117.857143%;
    /* 33/28 */
  }
}

@media screen and (min-width: 1280px) {
  .movie {
    display: flex;
  }
}

.movie__poster {
  width: 280px;
  height: 402px;
  margin-bottom: 24px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .movie__poster {
    width: 704px;
    height: 400px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__poster {
    width: 805px;
    height: 458px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .movie__info {
    margin-left: 16px;
    width: 390px;
  }
}

.movie__title {
  margin-bottom: 20px;
  color: var(--upcomind-film-df-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 115%;
  /* 23/20 */
}
@media screen and (min-width: 768px) {
  .movie__title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 117.857143%;
    /* 33/28 */
  }
}
@media screen and (min-width: 1280px) {
  .movie__title {
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 118.75%;
    /* 38/32 */
  }
}

.movie__categories {
  font-size: 16px;
  font-weight: 500;
  line-height: 118.75%;
  /* 19/16 */
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .movie__categories {
    display: flex;
    justify-content: space-between;
    width: 625px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__categories {
    display: block;
    width: 100%;
  }
}

.movie__item {
  display: flex;
  color: var(--upcoming-film-categories-check-color);
}
.movie__item:not(:last-child) {
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .movie-categories-separate {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-categories-separate {
    margin-bottom: 12px;
  }
}

.movie__item--accent {
  margin-left: 58px;
  color: #f87719;
}

.movie__item--group {
  display: flex;
  font-size: 14px;
  line-height: 114.285714%;
  /* 16/14 */
  margin-left: 62px;
}

.movie__item--bulb {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--upcoming-film-bulb-color);
  color: #000000;
}

.movie__item--left {
  width: 36px;
  height: 18px;
  margin-right: 4px;
}

.movie__item--right {
  width: 40px;
  height: 18px;
  margin-left: 4px;
}

.movie__item--default {
  color: var(--upcomind-film-df-color);
  margin-left: 78px;
}

.movie__item--margin {
  margin-left: 108px;
}

.movie__about {
  color: var(--upcoming-film-categories-check-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 118.75%;
  /* 19/16 */
}

.movie__descr {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 142.857143%;
  color: var(--upcoming-film-descr-text-color);
  /* 20/14 */
}
@media screen and (min-width: 768px) {
  .movie__descr {
    width: 625px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__descr {
    width: 100%;
  }
}

.movie__btn {
  width: 119px;
  height: 40px;
  padding: 1px;
  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie__btn-fill {
  width: 100%;
  height: 100%;
  border-radius: 74px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 114.285714%;
  /* 16/14 */
  color: #000000;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.movie__btn-fill:hover {
  background-color: #ffffff;
  color: #ff6b01;
}

.movie__btn.hidden {
  opacity: 0;
  pointer-events: none;
}

.footer {
  background: var(--footerBgColor);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 29px;
  padding-top: 28px;
  color: var(--footerTxtColor);
  padding-bottom: 29px;
  padding-top: 28px;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 28px;
    padding-top: 30px;
  }
}

.footer__link {
  color: var(--footerTxtColor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: var(--footerTxtColor) 1px solid;
}
.footer__link:hover, .footer__link:focus {
  color: #ff6b08;
  border-bottom: #ff6b08 1px solid;
  cursor: pointer;
}

.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: block;
  }
}

.modal-movie-backdrop {
  position: fixed;
  transition: opacity 0.25s, visibility 0.25s;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal-movie-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay-movie {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.42);
  overflow: scroll;
}

.modal-window {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: auto;
  padding: 52px 16px;
  background: #000000;
  box-shadow: 1px 1px 14px 4px rgba(4, 3, 3, 0.42);
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .modal-window {
    width: 704px;
    min-height: 488px;
    height: auto;
    padding: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-window {
    width: 846px;
    min-height: 598px;
    height: auto;
    padding: 60px;
  }
}

.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 16px;
  border-style: none;
  cursor: pointer;
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 24px;
    right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-close-btn {
    top: 40px;
    right: 40px;
  }
}
.modal-close-btn > svg path {
  stroke: white;
  fill: white;
}

.modal-close-btn:hover > svg path {
  fill: orange;
  stroke: orange;
}

@media screen and (min-width: 768px) {
  .movie-wraper {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-wraper {
    display: flex;
    gap: 20px;
  }
}

.movie-picture-wrapper {
  position: relative;
}

.movie-poster {
  width: 248px;
  height: 315px;
  border-radius: 5px;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .movie-poster {
    width: 294px;
    height: 400px;
    border-radius: 5px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .movie-poster {
    width: 375px;
    height: 478px;
    box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
    border-radius: 5px;
    margin-bottom: 0;
  }
}

.modal-movie-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  border: none;
}

.movie-title {
  width: 248px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .movie-title {
    width: 301px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-title {
    width: 340px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 28px;
  }
}

.movie-characteristics-wrapper {
  display: flex;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .movie-characteristics-wrapper {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-characteristics-wrapper {
    margin-bottom: 20px;
  }
}

.movie-characteristics-names {
  width: 95px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--footerTxtColor);
}
@media screen and (min-width: 768px) {
  .movie-characteristics-names {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-characteristics-names {
    font-size: 16px;
    line-height: 19px;
  }
}

.movie-characteristics-results {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-left: 62px;
}
@media screen and (min-width: 768px) {
  .movie-characteristics-results {
    font-size: 12px;
    line-height: 14px;
    margin-left: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-characteristics-results {
    font-size: 16px;
    line-height: 19px;
    margin-left: 62px;
  }
}

.movie-vote {
  margin-bottom: 12px;
  width: 78px;
}
@media screen and (min-width: 768px) {
  .movie-vote {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-vote {
    margin-bottom: 13.5px;
    width: 90px;
  }
}

.movie-popularity {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .movie-popularity {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-popularity {
    margin-bottom: 10.5px;
    width: 90px;
  }
}

.movie-popularity-results {
  margin-bottom: 12px;
}

.movie-vote-wrapper {
  width: 40px;
  text-align: center;
  color: #111111;
  background-color: #ffffff;
  border-radius: 5px;
}

.movie-vote-result {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .movie-vote-result {
    margin-bottom: 11px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-vote-result {
    margin-bottom: 12px;
  }
}

.movie-genre {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .movie-genre {
    width: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-genre {
    width: 160px;
  }
}

.movie-about {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--footerTxtColor);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .movie-about {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-about {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
  }
}

.movie-description {
  width: 248px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .movie-description {
    width: 301px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-description {
    width: 331px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}

.addBtn {
  position: relative;
  width: 140px;
  height: 38px;
  border: none;
  border-radius: 74px;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .addBtn {
    font-size: 12px;
    line-height: 16px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .addBtn {
    font-size: 12px;
    line-height: 16px;
    height: 40px;
  }
}

.textBtn {
  position: absolute;
  padding-left: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  width: inherit;
  margin: 0 auto;
  color: #ffffff;
}

.textBtn:hover {
  color: orange;
}

.no-scroll {
  overflow: hidden;
}

:root[data-theme=light] .modal-window {
  background: var(--body-and-modals-bgc);
}

:root[data-theme=light] .movie-title,
:root[data-theme=light] .movie-characteristics-names,
:root[data-theme=light] .movie-characteristics-results,
:root[data-theme=light] .movie-about,
:root[data-theme=light] .textBtn {
  color: var(--upcoming-film-categories-check-color);
}

:root[data-theme=light] .movie-description {
  color: var(--logo-name-color);
}

:root[data-theme=light] .modal-close-btn {
  background-color: transparent;
}

:root[data-theme=light] .modal-close-btn > svg path {
  stroke: var(--logo-name-color);
}

:root[data-theme=light] .modal-close-btn:hover > svg path {
  stroke: var(--team-sm-bnt-accent);
}

:root[data-theme=light] .addBtn {
  fill: var(--body-and-modals-bgc);
}

:root[data-theme=light] .textBtn:hover {
  color: var(--team-sm-bnt-accent);
}

.card {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
  border-radius: 5px;
  width: 395px;
  height: 574px;
}

.card__image {
  display: block;
  width: 395px;
  height: 574px;
}

.card__content {
  padding: 20px;
}

.card__title {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 10px;
}

.card__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
}

.team-modal {
  background-color: var(--footerBgColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 540px;
  padding: 48px 20px;
  overflow: auto;
  text-align: center;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .team-modal {
    padding: 30px 66px;
    width: 704px;
    height: 522px;
    text-align: start;
  }
}
@media screen and (min-width: 1280px) {
  .team-modal {
    width: 1000px;
    height: 700px;
  }
}

.team-modal__btn--close {
  z-index: 2;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.team-modal__btn--close:hover, .team-modal__btn--close:focus {
  fill: #ff6b01;
}

.team-modal__header {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ff6b08;
}
@media screen and (min-width: 768px) {
  .team-modal__header {
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team-modal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.team-modal__item {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .team-modal__item {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .team-modal__item {
    width: 16.6666666667%;
  }
}

.team-modal__img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: transform 250ms;
}
@media screen and (min-width: 768px) {
  .team-modal__img {
    margin: 7px 5px;
  }
}
.team-modal__img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 4px 4px rgba(255, 143, 68, 0.863));
}

.team-modal-sm {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.team-modal-sm li:first-child {
  margin-right: 7px;
}
@media screen and (min-width: 768px) {
  .team-modal-sm {
    margin-bottom: 0;
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team-modal__text-wrap {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .team-modal__text-wrap {
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
}

.team-modal__span--orange {
  display: block;
  color: #ff6b01;
  text-transform: uppercase;
}

.team-modal__svg {
  fill: var(--mainDarkColor);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-modal__svg:hover,
.team-modal__svg:focus {
  fill: var(--team-sm-bnt-accent);
}

.up {
  display: none;
  font-size: 20px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 45%;
  background-color: #ff6b08;
  transition: all 0.2s ease-in-out;
}

.up:hover {
  scale: 1.1;
  color: #111111;
  box-shadow: -2px -2px 5px #fff, 5px 5px 5px #babecc;
  background-color: #932727;
}

.up::after {
  content: "↑";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: rgba(255, 143, 68, 0.863);
  border-radius: 50px;
  width: 56px;
  height: 28px;
}

.theme-switcher::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--before-postionX), var(--before-postionY));
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch-icon {
  padding: 5px;
  cursor: pointer;
  z-index: 1;
  fill: rgba(0, 0, 0, 0.56);
}

.hero-library {
  padding: 40px 31px 144px 0px;
  margin: 0 auto;
  height: 380px;
  max-width: 480px;
  background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(/src/images/mobile_seats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-library {
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(/src/images/mobile_seats_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-library {
    max-width: 768px;
    height: 372px;
    padding: 62px 347px 118px 0;
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(/src/images/tablet_seats.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-library {
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(/src/images/tablet_seats_2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero-library {
    max-width: 1280px;
    height: 660px;
    padding: 169px 667px 249px 85px;
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(/src/images/desktop_seats.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-library {
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(/src/images/desktop_seats_2x.jpg);
  }
}

.hero-library__content {
  max-width: 249px;
}
@media screen and (min-width: 768px) {
  .hero-library__content {
    max-width: 357px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-library__content {
    max-width: 464px;
  }
}

.hero-library__title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .hero-library__title {
    font-size: 44px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .hero-library__title {
    font-size: 64px;
    line-height: 1.17;
  }
}

.hero-library__text {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
}
@media screen and (min-width: 1280px) {
  .hero-library__text {
    font-size: 16px;
    line-height: 1.19;
  }
}

.empty-library {
  padding-top: 44px;
  padding-bottom: 42px;
}
@media screen and (min-width: 768px) {
  .empty-library {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .empty-library {
    padding-top: 160px;
    padding-bottom: 108px;
  }
}

.empty-library__text {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .empty-library__text {
    font-size: 24px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1280px) {
  .empty-library__text {
    font-size: 32px;
    line-height: 1.13;
  }
}

.library-container > .movies-list {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .library-container > .movies-list {
    justify-content: flex-start;
  }
}

.library-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: 1px solid transparent;
  border-radius: 74px;
  transition: color 0.5s linear, background 0.5s linear, border 0.5s linear;
}
.library-btn:hover {
  color: #F87719;
  background: inherit;
  border: 1px solid #F87719;
}

.catalog-library__btn {
  width: 121px;
  height: 38px;
  margin: 20px auto 0;
}
@media screen and (min-width: 768px) {
  .catalog-library__btn {
    width: 133px;
    height: 40px;
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-library__btn {
    width: 158px;
    height: 52px;
    margin-top: 28px;
    font-size: 18px;
    line-height: 1.6;
  }
}

.load-more {
  width: 130px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .load-more {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .load-more {
    width: 145px;
    font-size: 18px;
    line-height: 1.6;
  }
}

.loading {
  display: none;
  height: 32px;
  width: 32px;
  margin: 0 auto;
  animation: loader1 3s linear infinite;
}

@keyframes loader1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 32px;
  clip: rect(16px, 32px, 32px, 0);
  animation: loader2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes loader2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 32px;
  border: 3px solid transparent;
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  animation: loader3 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes loader3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 32px;
  border: 3px solid transparent;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.load-more.show-loader {
  width: 52px;
  background-color: #ffffff;
  text-indent: -9999px;
}

.load-more.show-loader .loading {
  display: block;
}

.catalog-library {
  padding: 40px 0px;
}

.catalog-library__list {
  margin: -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .catalog-library__list {
    justify-content: flex-start;
    margin-top: -14px;
    margin-bottom: -14px;
  }
}

.catalog-library__item {
  position: relative;
  margin: 8px;
  width: 280px;
  height: 406px;
  transition: transform 0.3s ease;
}
@media screen and (min-width: 768px) {
  .catalog-library__item {
    margin-bottom: 14px;
    margin-top: 14px;
    width: calc((100% - 48px) / 3);
    height: 325px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-library__item {
    margin-bottom: 16px;
    margin-top: 16px;
    height: 576px;
  }
}
.catalog-library__item:nth-child(n+7) {
  display: none;
}
.catalog-library__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
  transition: transform 0.01s ease-in-out;
}
.catalog-library__item:hover {
  transform: rotateY(30deg);
  transition: transform 0.5s ease-in-out;
}
.catalog-library__item > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.catalog-library__details {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: 256px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .catalog-library__details {
    width: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-library__details {
    width: 355px;
  }
}
.catalog-library__details h3 {
  font-size: 12px;
  line-height: 1.7;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .catalog-library__details h3 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
}

.catalog-library__info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-library__info-wrap > .movie-rating {
  transform: translate(0);
}

.catalog-library__text {
  color: #b7b7b7;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .catalog-library__text {
    font-size: 20px;
    line-height: 1.2;
  }
}
.catalog-library__text:not(:last-child) {
  margin-right: 14px;
}
.catalog-library__text:first-child::after {
  content: "";
  height: 15px;
  width: 1px;
  background-color: #b7b7b7;
  display: inline-block;
  position: absolute;
  right: -7px;
}
@media screen and (min-width: 1280px) {
  .catalog-library__text:first-child::after {
    height: 20px;
  }
}

img {
  width: 100%;
}

.search-on-homepage {
  cursor: pointer;
}

.section-catalog {
  background-color: var(--background-catalog);
}
.section-catalog_hidden {
  display: none;
  visibility: hidden;
}

.search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .search-block {
    padding-bottom: 36px;
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .search-block {
    padding-bottom: 48px;
  }
}
.search-block_search-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: contents;
}
@media screen and (min-width: 480px) {
  .search-block_search-form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: contents;
  }
}
.search-block_search-input {
  width: 100%;
  height: 44px;
  padding-left: 20;
  font-size: 14px;
  border-radius: 8px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .search-block_search-input {
    width: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .search-block_search-input {
    width: 320px;
    height: 48px;
    padding-left: 24px;
    font-size: 18px;
  }
}
.search-block_submit-btn {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: none;
}
@media screen and (min-width: 768px) {
  .search-block_submit-btn {
    width: 44px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .search-block_submit-btn {
    width: 48px;
    height: 48px;
  }
}
@media screen and (min-width: 480px) {
  .search-block_submit-button-svg {
    pointer-events: none;
    width: 14px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) {
  .search-block_submit-button-svg {
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .search-block_submit-button-svg {
    width: 20px;
    height: 20px;
  }
}

.search-block_submit-btn:hover {
  background: linear-gradient(141.22deg, rgba(246, 178, 7, 0.612) 9.4%, rgba(248, 65, 25, 0.5) 91.91%);
}

@media screen and (min-width: 480px) {
  .movies-list {
    margin-left: -8px;
    margin-right: -8px;
  }
}
@media screen and (min-width: 768px) {
  .movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.movie-item {
  position: relative;
  margin-bottom: 16px;
  border-radius: 5px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .movie-item {
    transition: transform 0.3s ease;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .movie-item {
    flex-basis: calc(33.3333% - 16px);
    margin-bottom: 28px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-item {
    margin-bottom: 32px;
    border-radius: 5px;
  }
}
.movie-item:nth-child(21) {
  margin-bottom: 0;
}
.movie-item:nth-of-type(n+22) {
  display: none;
}
.movie-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
  transition: transform 0.01s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.movie-item:hover {
  transform: scale(1.05);
  transition: transform 0.35s ease-in-out;
}

.movie-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 12px 12px 12px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .movie-details {
    padding: 0 0 12px 12px;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .movie-details {
    display: flex;
  }
}
@media screen and (min-width: 480px) {
  .movie-details h3 {
    font-size: 12px;
    line-height: 1.67;
    text-transform: uppercase;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .movie-details h3 {
    font-size: 14px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 1280px) {
  .movie-details h3 {
    font-size: 20px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.97px) {
  .movie-details h3,
  .movie-info {
    transform: translateY(110%);
  }
}
@media screen and (min-width: 480px) {
  .movie-genres-and-rating {
    display: contents;
  }
}
@media screen and (min-width: 768px) {
  .movie-genres-and-rating {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

@media screen and (min-width: 480px) {
  .movie-info {
    font-size: 12px;
    color: #f7f7f7;
    margin-top: 6px;
  }
}
@media screen and (min-width: 768px) {
  .movie-info {
    font-size: 14px;
    width: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-info {
    font-size: 20px;
    width: 250px;
  }
}

.star-full {
  width: 18px;
  color: darkorange;
}

@media screen and (min-width: 480px) and (max-width: 767.97px) {
  .movie-rating {
    transform: translateX(79%);
  }
}
@media screen and (max-width: 479.97px) {
  .movie-rating {
    transform: translateX(69%);
  }
}
.page-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .page-indicator {
    margin-top: 44px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .page-indicator {
    margin-top: 60px;
    padding-bottom: 70px;
  }
}

.page-number {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
}
@media screen and (min-width: 480px) {
  .page-number {
    border: 1px solid #000000;
    background: transparent;
    color: #b7b7b7;
    color: var(--mainDarkColor);
  }
}
@media screen and (min-width: 768px) {
  .page-number {
    width: 40px;
    height: 40px;
    margin: 0 8px;
  }
}
.page-number.active {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: #ffffff;
}

.page-number:hover {
  border-color: var(--footerBgColor);
}

.arrow-button {
  cursor: pointer;
  background: var(--background-catalog);
}
.arrow-button.disabled {
  opacity: 0.5;
}

.arrow-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.prev-page-svg,
.next-page-svg {
  cursor: pointer;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .input-search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .input-search-input {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .input-search-input {
    gap: 24px;
    margin-bottom: 120px;
  }
}

.modal,
.modal-overlay {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  opacity: 0;
  animation: fade-in 0.25s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.visible {
  display: block;
}

.modal.visible {
  opacity: 1;
}

.search-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 480px) {
  .search-modal-content {
    width: 480px;
    height: 300px;
    background-color: var(--background-catalog);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.4196078431);
  }
}
@media screen and (min-width: 768px) {
  .search-modal-content {
    width: 550px;
    height: 500px;
    font-size: 24px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .search-modal-content {
    height: 500px;
    width: 650px;
    font-size: 32px;
    line-height: 1.12;
  }
}
@media screen and (min-width: 480px) {
  .search-modal-content_text-modal {
    font-size: 20px;
    line-height: 1.4;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    color: var(--backgroundPage);
    color: var(--title-color);
  }
}
@media screen and (min-width: 768px) {
  .search-modal-content_text-modal {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .search-modal-content_text-modal {
    font-size: 32px;
    line-height: 1.12;
  }
}

.search-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

.search-modal-close:hover,
.search-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#search-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}

#search-loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 6px solid #f3f3f3;
  border-top-color: #3498db;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.hero {
  margin-bottom: 40px;
}
.hero .not-mobile {
  display: none;
}
.hero > .container {
  padding: 0;
}
.hero__card {
  position: relative;
}
.hero__info {
  position: absolute;
  z-index: 1;
  top: calc(50% - 20px);
  left: 8px;
  transform: translateY(-50%);
  width: 48%;
}
.hero__info--library {
  width: 65%;
}
.hero__title {
  color: var(--title-color);
  font-size: 24px;
  line-height: 1.19;
  font-weight: 700;
  margin-bottom: 8px;
}
.hero__description {
  color: var(--description-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  margin-bottom: 16px;
}
.hero__info--library .hero__title {
  color: #ffffff;
}
.hero__info--library .hero__description {
  color: #f8f8f8;
}
.hero__image-wrap {
  position: relative;
  height: 100%;
}
.hero__image-wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__image-wrap--library:before {
  content: none;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__btn {
  color: #111111;
  background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
  border-radius: 74px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid #F87719;
  transition: all 300ms;
}
.hero__btn:hover {
  color: #F87719;
  background: inherit;
}
:root[data-theme=light] .hero__image-wrap:before {
  background-image: url(../images/hero/Subtract_mobile.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  :root[data-theme=light] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_mobile@2x.png);
  }
}
:root[data-theme=dark] .hero__image-wrap:before {
  background-image: url(../images/hero/Subtract_dark_mobile.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  :root[data-theme=dark] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_dark_mobile@2x.png);
  }
}
@media screen and (min-width: 375px) {
  .hero__info--library {
    width: 76%;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__description {
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  .hero__info {
    width: 46%;
    left: 20px;
  }
  .hero__info--library {
    width: 76%;
  }
}
@media screen and (min-width: 768px) {
  :root[data-theme=light] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  :root[data-theme=light] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_tablet@2x.png);
  }
}
@media screen and (min-width: 768px) {
  :root[data-theme=dark] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_dark_tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  :root[data-theme=dark] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_dark_tablet@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero .not-mobile {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .hero__info {
    width: 36%;
    left: 32px;
  }
  .hero__info--library {
    width: 46%;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 39px;
    line-height: 1.18;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  .hero__description {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .hero__btn {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    margin-bottom: 80px;
  }
  :root[data-theme=light] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  :root[data-theme=light] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_desktop@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  :root[data-theme=dark] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_dark_desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  :root[data-theme=dark] .hero__image-wrap:before {
    background-image: url(../images/hero/Subtract_dark_desktop@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .hero__info {
    width: 32%;
    left: 100px;
  }
  .hero__info--library {
    left: 117px;
    width: 36%;
  }
  .hero__info--default {
    width: 36%;
    left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__description {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__btn {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* Rating */
.raiting {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  overflow: hidden;
}
.raiting__fill-image {
  position: absolute;
  display: block;
  height: 100%;
  width: 0%;
  background-size: cover;
  background-image: url(../images/hero/raiting_fill_mobile.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .raiting__fill-image {
    background-image: url(../images/hero/raiting_fill_mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .raiting {
    margin-bottom: 20px;
  }
  .raiting__fill-image {
    background-image: url(../images/hero/raiting_fill_tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .raiting__fill-image {
    background-image: url(../images/hero/raiting_fill_tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .raiting {
    margin-bottom: 28px;
  }
  .raiting__fill-image {
    background-image: url(../images/hero/raiting_fill.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .raiting__fill-image {
    background-image: url(../images/hero/raiting_fill@2x.png);
  }
}

/* Swiper */
.swiper {
  min-height: 380px;
  height: 118.7vw;
}
@media screen and (min-width: 480px) {
  .swiper {
    height: 570px;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    height: 432px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper {
    height: 720px;
  }
}

.swiper-control {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  left: 8px;
}
.swiper-control--show {
  display: flex;
}
@media screen and (min-width: 480px) {
  .swiper-control {
    left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-control {
    left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-control {
    bottom: 20px;
    left: 100px;
  }
}

.swiper-pagination-bullet {
  transition: color 500ms;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--swipe-bullet-color);
  border-radius: 50%;
  color: var(--swipe-bullet-color);
  font-size: 10px;
  line-height: 1;
  cursor: pointer;
  transition: all 300ms;
}
.swiper-pagination-bullet:not(:first-child) {
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .swiper-pagination-bullet {
    width: 32px;
    height: 32px;
    font-size: 12px;
    line-height: 1.16;
  }
  .swiper-pagination-bullet:not(:first-child) {
    margin-left: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 1;
  }
  .swiper-pagination-bullet:not(:first-child) {
    margin-left: 16px;
  }
}
.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover {
  background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
  color: var(--swipe-bullet-color-active);
  border: none;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--swipe-nav);
}

.swiper-button-disabled {
  color: var(--swipe-nav-disabled);
}

.swiper-button-next {
  transform: rotateY(180deg);
}

.swiper-prev-svg,
.swiper-next-svg {
  width: 100%;
  height: 100%;
  stroke: currentColor;
  fill: none;
}

.js-backdrop-trailer {
  position: fixed;
  transition: opacity 0.25s, visibility 0.25s;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.56);
}

.trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 289px;
  border-radius: 16px;
  padding: 39px 33px 185px;
  box-shadow: 1px 1px 14px 4px var(--modal-trailer-box-shadow-color);
  background-color: var(--modal-trailer-bgc);
}
@media screen and (min-width: 768px) {
  .trailer {
    width: 609px;
    height: 400px;
    padding: 132px 244px 176px 44px;
  }
}
@media screen and (min-width: 1280px) {
  .trailer {
    width: 700px;
    height: 400px;
    padding: 150px 329px 150px 50px;
  }
}

.trailer.visibily {
  display: block;
}

.notification {
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%; /* 19/16 */
  color: var(--modal-trailer-text-color);
}
@media screen and (min-width: 768px) {
  .notification {
    font-weight: 400;
    font-size: 24px;
    line-height: 116.666667%; /* 28/24 */
  }
}
@media screen and (min-width: 1280px) {
  .notification {
    font-weight: 400;
    font-size: 24px;
    line-height: 116.666667%; /* 28/24 */
  }
}

.wrapper {
  position: absolute;
  left: 61px;
  bottom: 8px;
  width: 159px;
  height: 153px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    bottom: 16px;
    left: 303px;
    width: 296px;
    height: 260px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    bottom: 5px;
    left: 337px;
    width: 363px;
    height: 318px;
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  padding: 0;
  border: none;
  outline: transparent;
  background-color: inherit;
  fill: var(--close-btn-fill);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .close-btn {
    top: 24px;
    right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .close-btn {
    top: 28px;
    right: 28px;
  }
}
.close-btn:hover {
  fill: #ff6b08;
}

.close-icon {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .close-icon {
    width: 24px;
    height: 24px;
  }
}

.player-container {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 560px;
  width: 80%;
  margin: 0 auto;
}

.player-container iframe {
  position: absolute;
  border: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 65.9375em) {
  .player-container {
    min-height: 460px;
    width: 90%;
  }
}
@media screen and (max-width: 39.9375em) {
  .player-container {
    min-height: 240px;
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */