$mainLightColor: #ffffff;
$accentColor: #ff6b08;
$informationColor: #ff001b;
$mainBgColor: #f5f5f5;
$buttonBgColor: rgba(0, 0, 0, 0.56);
$header-focus: rgba(255, 143, 68, 0.863);
$accentModalColor: #ff6b01;
$secondModalColor: #8c8c8c;
$buttonBgAccent: #ff6b01;
$duration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$bg-header-gradient: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
$button-black-text: #000000;
$scrollbar-and-circle-on-switcher-color: #932727;
$reg-form-title-color: #212121;
$pagination-background: #f7f7f7;
$background-catalog: #282828;
$flooded-stars-catalog: linear-gradient(
  141.22deg,
  #f84119 9.4%,
  rgba(248, 157, 25, 0.8876) 89.96%,
  rgba(248, 159, 25, 0.68) 91.91%
);
$not-flooded-stars-catalog: linear-gradient(
  138.87deg,
  #f84119 10.08%,
  rgba(248, 159, 25, 0.68) 94.03%
);
$pagination-number-color: #b7b7b7;
$pagination-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
$submit-btn-catalog: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

:root[data-theme='dark'] {
  --body-and-modals-bgc: #212121;
  --before-postionX: 30px;
  --before-postionY: 2px;
  --mainDarkColor: #ffffff;
  --footerBgColor: #212121;
  --footerTxtColor: #ffffff;
  --backgroundPage: #ffffff;
  --header-nav-color: #b7b7b7;
  --logo-name-color: #ffffff;
  --menu-background-color: #171717;
  --menu-text-color: #ffffff;
  --icon-color: white;

  --team-sm-bnt-accent: #932727;
}

:root[data-theme='light'] {
  --body-and-modals-bgc: #ffffff;
  --before-postionX: 2px;
  --before-postionY: 2px;
  --mainDarkColor: #000000;
  --footerBgColor: #f5f5f5;
  --footerTxtColor: #b7b7b7;
  --backgroundPage: transparent;
  --header-nav-color: #595959;
  --logo-name-color: #282828;
  --menu-background-color: #f8f8f8;
  --menu-text-color: #111111;
  --icon-color: black;

  --team-sm-bnt-accent: #ff6b01;
}
