<footer class="footer">
    <div class="footer__container">
        <span>&#169; 2023 | All Rights Reserved | </span>
        <span>
            Developed with
            <svg class="icon-heart" width="15" height="15">
                <use href="/src/images/symbol-heart.svg#icon-Vector"></use>
            </svg>
            by
            <a class="footer__link">GoIT Students</a></span>
    </div>
</footer>

<!-- модалка -->
<div class="backdrop">
    <div class="team-modal">
        <button type="button" class="team-modal__btn--close" aria-label="Close">
            <svg width="32" height="32" class="team-modal__svg">
                <use href="/src/images/symbol-defs-team.svg#icon-close-1"></use>
            </svg>
        </button>
        <h2 class="team-modal__header">Developers</h2>
        <ul class="team-modal-list list">

            <li class="team-modal__item">
                <img src="./images/team/Vadim.jpg" alt="Photo Vadim Ilchuk" width="120"
                    height="120" class="team-modal__img" loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Vadim Ilchuk
                        </span>Team lead, developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Svitlana.jpg" alt="Photo Sukhodolska Svitlana"  width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Svitlana Sukh.
                        </span> Scram, developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/svitlana-sukhodolska-596756275/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Svitolda" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Petro.jpg" alt="Photo Petro Burchenkov" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Petro Burchenkov
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/P-Burchenkov" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Valentine.jpg" alt="Photo Valentyna Kirbaba" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Valentyna Kirbaba
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Valentyna89" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Oleksandr.jpg" alt="Photo Bragar Oleksandr" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Bragar Oleksandr
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Bardjur" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Valentine.jpg" alt="Photo Sofia Scriabin" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Sofia Scriabina
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/sofia-skriabina-698165261/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Sofia1903" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Denis.jpg" alt="Photo Chebanenko Nikita" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Nikita Chebanenko
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/nikita-chebanenko-631518237/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/nY2en" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Anzhela.jpg" alt="Photo Bazalinska Anzhela" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Anzhela Bazalinska
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Anzheliika" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Dmytro.jpg" alt="Photo Dima Glushchenko" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Dmytro Hlushchenko
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/dmytro-hlushchenko-21789325b/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Dmytro-Hlushchenko" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Denis.jpg" alt="Photo Denis Shupletsov" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Denis Shupletsov
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/%D0%B4%D0%B5%D0%BD%D0%B8%D1%81-%D1%88%D1%83%D0%BF%D0%BB%D0%B5%D1%86%D0%BE%D0%B2-10a774254/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Denis-Shupletsov" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="./images/team/Oleksii.jpg" alt="Photo OLeksiy Hubar" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            OLeksiy Hubar
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/olexii-hubar-707323250/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/OlexiiHubar" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
    </ul>
</div>
</li>
</ul>
</div>
</div>