<footer class="footer">
    <div class="footer__container">
        <span>&#169; 2023 | All Rights Reserved | </span>
        <span>
            Developed with
            <svg class="icon-heart" width="15" height="15">
                <use href="/src/images/symbol-heart.svg#icon-Vector"></use>
            </svg>
            by
            <a class="footer__link">GoIT Students</a></span>
    </div>
</footer>

<!-- модалка -->
<div class="visually-hidden backdrop">
    <div class="team-modal">
        <button type="button" class="team-modal__btn--close" aria-label="Close">
            <svg width="32" height="32" class="team-modal__svg">
                <use href="/src/images/symbol-defs-team.svg#icon-close-1"></use>
            </svg>
        </button>
        <h2 class="team-modal__header">Developers</h2>
        <ul class="team-modal-list list">

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120"
                    height="120" class="team-modal__img" loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Vadim Ilchuk
                        </span>Team lead, developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Svitlana
                        </span> Scram, developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Petro Burchenkov
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Valentyna Kirbaba
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Bragar Oleksand
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Sofija
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Nikita
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Anjela
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Dima Glushchenko
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            Denis
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team-modal__item">
                <img src="/src/images/team-foto.png" alt="Photo Vadim Ilchuk" width="120" height="120" class="team-modal__img"
                    loading="lazy">
                <div class="team-modal__text-wrap">
                    <p>
                        <span class="team-modal__span--orange">
                            OLeksiy
                        </span>Developer
                    </p>
                    <ul class="list team-modal-sm">
                        <li>
                            <a href="https://www.linkedin.com/in/vadim-ilchuk-475466144/" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-linkedin2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/IlchukV" target="_blank">
                                <svg width="24" height="24" class="team-modal__svg">
                                    <use href="/src/images/symbol-defs-team.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
    </ul>
</div>
</li>
</ul>
</div>
</div>