<section class="hero">
  <div class="swiper">
    <div class="swiper-wrapper"></div>

    <div class="swiper-control">
      <div class="swiper-button-prev"><svg class="swiper-prev-svg">
          <use href="./images/slider_nav.svg#icon-slider_nav"></use>
        </svg></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next">
        <svg class="swiper-next-svg">
          <use href="./images/slider_nav.svg#icon-slider_nav"></use>
        </svg>
      </div>
    </div>

  </div>
</section>