<section class="section-catalog section">
    <div class="container">
        <h2 class="section-catalog_hidden">Catalog</h2>
        <div class="search-block" id="search-block-id">
            <form id="search-form" class="search-block_search-form">
                <input type="text" id="search-input" placeholder="Search" class="search-block_search-input"
                    autocomplete="off">
                <button type="submit" class="search-block_submit-btn search-on-homepage" id="search-button">
                    <object type="image/svg+xml" data="/src/images/icon-catalog.svg" id="icon-search-3" width="20"
                        height="20" class="search-block_submit-button-svg"></object>
                </button>
            </form>
        </div>
        <div id="search-loading" class="search-loading"></div>
        <div class="movies-list"></div>
        <div class="page-indicator"></div>

        <div class="search-modal" style="display: none;">
            <div class="search-modal-content">
                <span class="search-modal-close">&times;</span>
                <div class="input-search-input">
                    <form id="search-form" class="search-block_search-form">
                        <input type="text" id="search-input" placeholder="Search" class="search-block_search-input"
                            autocomplete="off">
                        <button type="submit" class="search-block_submit-btn">
                            <object type="image/svg+xml" data="/src/images/icon-catalog.svg" id="icon-search-3"
                                width="20" height="20" class="search-block_submit-button-svg"></object>
                        </button>
                    </form>
                </div>
                <p class="search-modal-content_text-modal">OOPS...<br>We are very sorry!<br>We don’t have any results
                    due
                    to
                    your search.</p>
            </div>
        </div>
    </div>
</section>