<main>
  <section class="section catalog-library">
    <div class="container library-container">
      <div class="catalog-library__list movies-list"></div>
      <button class="load-more library-btn">
        Load more <span class="loading"><span></span></span>
      </button>
    </div>
  </section>

  <section class="section empty-library">
    <div class="container">
      <p class="empty-library__text">OOPS...</p>
      <p class="empty-library__text">We are very sorry!</p>
      <p class="empty-library__text">
        You don’t have any movies at your library.
      </p>
      <a href="/src/catalog.html" class="catalog-library__btn library-btn"
        >Search movie</a
      >
    </div>
  </section>
</main>
