<main>
    <section class="section-canalog">
        <div class="container">
            <div class="search-block">
                <form id="search-form">
                    <input type="text" id="search-input" placeholder="Search" class="search-input">
                    <button type="submit" class="submit-btn">
                        <svg width="48px" height="48px" class="submit_button">
                            <use href="#"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="movies-list"></div>

            <div class="pagination">
                <div class="page-indicator">
                    <!-- Здесь будут динамически добавляться номера страниц -->
                </div>
            </div>
        </div>
    </section>
</main>


<!-- <button id="prev-page" class="arrow-button" disabled>
                    <svg width="28px" height="28px" class="prev-page-svg">
                        <use href="#"></use>
                    </svg>
                </button> -->
<!-- <button id="next-page" class="arrow-button" disabled>
                                    <svg width="28px" height="28px" class="next-page-svg">
                                        <use href="#"></use>
                                    </svg>
                                </button> -->