<main>
  <section class="section hero-library">
    <div class="container">
      <div class="hero-library__content">
        <h1 class="hero-library__title">Create Your Dream Cinema</h1>
        <p class="hero-library__text">
          Is a guide to designing a personalized movie theater experience with
          the right equipment, customized decor, and favorite films. This guide
          helps you bring the cinema experience into your own home with cozy
          seating, dim lighting, and movie theater snacks.
        </p>
      </div>
    </div>
  </section>

  <section class="section catalog-library">
    <div class="container">
      <ul class="catalog-library__list"></ul>
    </div>
  </section>

  <section class="section empty-library">
    <div class="container">
      <p class="empty-library__text">OOPS...</p>
      <p class="empty-library__text">We are very sorry!</p>
      <p class="empty-library__text">
        You don’t have any movies at your library.
      </p>
      <a href="/src/catalog.html" class="catalog-library__btn">Search movie</a>
    </div>
  </section>
</main>
