.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;

    @include tablet {
        max-width: 768px;
        padding: 0 32px;
    }

    @include desktop {
        max-width: 1280px;
    }
}