.preloader {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: black;
z-index: 12;
transition: 1s all;
opacity: 1;
visibility: visible;

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 10px solid #cccccc;
    border-top-color: blue;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
 }
 &.done {
    opacity: 0;
    visibility: hidden;
 }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg)
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}