img {
    width: 100%;
}

.section-catalog {
    background-color: var(--background-catalog);
}

.search-block {
    @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-bottom: 16px;
        gap: 16px;
    }

    @include tablet {
        padding-bottom: 36px;
        gap: 16px;
    }

    @include desktop {
        padding-bottom: 48px;
    }

    &_search-form {

        @include mobile {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            display: contents;
        }
    }

    &_search-input {
        @include mobile {
            width: 100%;
            height: 44px;
            padding-left: 20;
            font-size: 14px;
            border-radius: 8px;
            line-height: 1.14;
        }

        @include tablet {
            width: 210px;
        }

        @include desktop {
            width: 320px;
            height: 48px;
            padding-left: 24px;
            font-size: 18px;
        }
    }

    &_submit-btn {

        @include mobile {
            width: 40px;
            height: 40px;
            background-color: $mainLightColor;
            border-radius: 100%;
            cursor: auto;
            background: $submit-btn-catalog;
            border: none;
        }

        @include tablet {
            width: 44px;
            height: 44px;
        }

        @include desktop {
            width: 48px;
            height: 48px;
        }

    }

    &_submit-button-svg {
        @include mobile {
            pointer-events: none;
            width: 14px;
            height: 14px;
        }

        @include tablet {
            width: 18px;
            height: 18px;
        }

        @include desktop {
            width: 20px;
            height: 20px;
        }
    }
}

.movies-list {

    @include mobile {
        margin-left: -8px;
        margin-right: -8px;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.movie-item {
    @include mobile {
        position: relative;
        margin-bottom: 16px;
        transition: transform 0.3s ease;
        border-radius: 5px;
        overflow: hidden;
    }

    @include tablet {
        flex-basis: calc(33.3333% - 16px);
        margin-bottom: 28px;
        border-radius: 5px;
    }

    @include desktop {
        margin-bottom: 32px;
        border-radius: 5px;
    }

    &:nth-child(10) {
        margin-bottom: 0;
    }

    &:nth-of-type(n+11) {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
        transition: transform 0.01s ease-in-out;
    }

    &:hover {
        transform: rotateY(30deg);
        transition: transform 0.5s ease-in-out;
    }
}

.movie-details {
    @include mobile {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 12px 12px 12px;
        box-sizing: border-box;
        color: $mainLightColor;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include tablet {
        padding: 0 0 12px 12px;
        display: flex;
    }

    @include desktop {
        display: flex;
    }

    & h3 {

        @include mobile {
            font-size: 12px;
            line-height: 1.67;
            text-transform: uppercase;
            color: $mainLightColor;
        }

        @include tablet {
            font-size: 14px;
            line-height: 1.28;
        }

        @include desktop {
            font-size: 20px;
            line-height: 1.15;
        }
    }
}

@media screen and (max-width: 767.97px) {

    .movie-details h3,
    .movie-info {
        transform: translateY(110%);
    }
}

.movie-genres-and-rating {
    @include mobile {
        display: contents;
    }

    @include tablet {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}

.movie-info {
    @include mobile {
        font-size: 12px;
        color: $pagination-background;
        margin-top: 6px;
    }

    @include tablet {
        font-size: 14px;
        width: 112px;
    }

    @include desktop {
        font-size: 20px;
        width: 250px;
    }
}

// ! Звезды рейтинга
.star-full {
    @include mobile {
        width: 18px;
        // background: linear-gradient(141.22deg,
        //         #f84119 9.4%,
        //         rgba(248, 157, 25, 0.8876) 89.96%,
        //         rgba(248, 159, 25, 0.68) 91.91%);
        // background-clip: text;
        color: darkorange;
    }
}

// .star-half {
//     background: linear-gradient(138.87deg,
//             #f84119 10.08%,
//             rgba(248, 159, 25, 0.68) 94.03%);
//     background-clip: text;
//     color: transparent;
// }

@media screen and (max-width: 767.97px) {
    .movie-rating {
        transform: translateX(79%);
    }
}

// !Пагинация
.page-indicator {
    @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 12px;
    }

    @include tablet {
        margin-top: 44px;
        padding-bottom: 30px;
    }

    @include desktop {
        margin-top: 60px;
        padding-bottom: 70px;
    }
}

.page-number {
    @include mobile {
        display: inline-block;
        width: 24px;
        height: 24px;
        line-height: 32px;
        text-align: center;
        margin: 0 4px;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid $button-black-text;
        background: transparent;
        color: $pagination-number-color;
        color: var(--mainDarkColor);
    }

    @include tablet {
        width: 40px;
        height: 40px;
        margin: 0 8px;
    }

    &.active {
        background: $pagination-color;
        color: $mainLightColor;
    }
}

.arrow-button {
    cursor: pointer;
    background: var(--background-catalog);

    &.disabled {
        opacity: 0.5;
    }
}

.arrow-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.prev-page-svg,
.next-page-svg {
    cursor: pointer;
}

.page-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ! Стили под заглушку при нажатии на карточку фильма "Наслаждайтесь просмотром"
.found-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 400px;
    display: none;
}

.found-modal-content {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.visible {
    display: block;
}

// !! Стили модалки
.input-search-input {

    @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 48px;
    }

    @include tablet {
        margin-bottom: 80px;
    }

    @include desktop {
        gap: 24px;
        margin-bottom: 120px;
    }
}

.modal,
.modal-overlay {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    opacity: 0;
    animation: fade-in 0.25s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.visible {
    display: block;
}

.modal.visible {
    opacity: 1;
}

.search-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.search-modal-content {

    @include mobile {
        width: 480px;
        height: 300px;
        background-color: var(--background-catalog);
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @include tablet {
        width: 550px;
        height: 500px;
        font-size: 24px;
        line-height: 1.33;
    }

    @include desktop {
        height: 500px;
        width: 650px;
        font-size: 32px;
        line-height: 1.12;
    }

    &_text-modal {

        @include mobile {
            font-size: 20px;
            line-height: 1.4;
            font-family: Roboto;
            font-weight: 400;
            text-align: center;
            color: var(--backgroundPage);
            color: var(--title-color);

        }

        @include tablet {
            font-size: 24px;
            line-height: 1.33;
        }

        @include desktop {
            font-size: 32px;
            line-height: 1.12;
        }
    }
}


.search-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.search-modal-close:hover,
.search-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#search-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;
}

#search-loading::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top-color: #3498db;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}