img {
    width: 100%;
}

.section-catalog {
    background-color: $background-catalog;
}

.search-block {
    @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 40px;
        padding-bottom: 16px;
        gap: 16px;
    }

    @include tablet {
        padding-top: 60px;
        padding-bottom: 36px;
        gap: 16px;
    }

    @include desktop {
        padding-top: 80px;
        padding-bottom: 48px;
    }

    &_search-form {

        @include mobile {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            display: contents;
        }
    }

    &_search-input {
        @include mobile {
            width: 100%;
            height: 44px;
            padding-left: 20;
            font-size: 14px;
            border-radius: 8px;
            line-height: 1.14;
        }

        @include tablet {
            width: 210px;
        }

        @include desktop {
            width: 320px;
            height: 48px;
            padding-left: 24px;
            font-size: 18px;
        }
    }

    &_submit-btn {
        @include mobile {
            width: 40px;
            height: 40px;
            background-color: $mainLightColor;
            border-radius: 100%;
            cursor: pointer;
            background: $submit-btn-catalog;
            border: none;
        }

        @include tablet {
            width: 44px;
            height: 44px;
        }

        @include desktop {
            width: 48px;
            height: 48px;
        }

    }

    &_submit-button-svg {
        @include mobile {
            pointer-events: none;
            width: 14px;
            height: 14px;
        }

        @include tablet {
            width: 18px;
            height: 18px;
        }

        @include desktop {
            width: 20px;
            height: 20px;
        }
    }
}

.movies-list {

    @include mobile {
        margin-left: -8px;
        margin-right: -8px;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.movie-item {
    @include mobile {
        position: relative;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 16px;
        transition: transform 0.3s ease;
        border-radius: 5px;
        overflow: hidden;
    }

    @include tablet {
        flex-basis: calc(33.3333% - 16px);
        margin-bottom: 28px;
        border-radius: 5px;
    }

    @include desktop {
        margin-bottom: 32px;
        border-radius: 5px;
    }

    &:nth-child(10) {
        margin-bottom: 0;
    }

    &:nth-of-type(n+11) {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
    }

    &:hover {
        transform: translateY(-10px);
    }
}

.movie-details {
    @include mobile {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 12px 12px 12px;
        box-sizing: border-box;
        color: $mainLightColor;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include tablet {
        padding: 0 0 12px 12px;
        display: flex;
    }

    @include desktop {
        display: flex;
    }

    & h3 {

        @include mobile {
            font-size: 12px;
            line-height: 1.67;
            text-transform: uppercase;
            color: $mainLightColor;
            // margin: 0;
        }

        @include tablet {
            font-size: 14px;
            line-height: 1.28;
        }

        @include desktop {
            font-size: 20px;
            line-height: 1.15;
        }
    }
}

@media screen and (max-width: 767.97px) {

    .movie-details h3,
    .movie-info {
        transform: translateY(110%);
    }
}


.movie-genres-and-rating {
    @include mobile {
        display: contents;
    }

    @include tablet {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}

.movie-info {
    @include mobile {
        font-size: 12px;
        color: $pagination-background;
        margin-top: 6px;
    }

    @include tablet {
        font-size: 14px;
        width: 112px;
    }

    @include desktop {
        font-size: 20px;
        width: 250px;
    }
}

// ! Звезды рейтинга
.star-full {
    @include mobile {
        width: 18px;
        background: $flooded-stars-catalog;
        background-clip: text;
        color: transparent;
    }
}

.star-half {
    background: $not-flooded-stars-catalog;
    background-clip: text;
    color: transparent;
}

@media screen and (max-width: 767.97px) {
    .movie-rating {
        transform: translateX(79%);
    }
}

// !Пагинация
.page-indicator {
    @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 12px;
    }

    @include tablet {
        margin-top: 44px;
        padding-bottom: 30px;
    }

    @include desktop {
        margin-top: 60px;
        padding-bottom: 70px;
    }
}

.page-number {
    @include mobile {
        display: inline-block;
        width: 24px;
        height: 24px;
        line-height: 32px;
        text-align: center;
        margin: 0 4px;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid $pagination-number-color;
        background: transparent;
        color: $pagination-number-color;
    }

    @include tablet {
        width: 40px;
        height: 40px;
        margin: 0 8px;
    }

    &.active {
        background: $pagination-color;
        color: $mainLightColor;
    }
}

.arrow-button {
    background: $background-catalog;

    &.disabled {
        opacity: 0.5;
    }
}

.arrow-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.prev-page-svg,
.next-page-svg {
    cursor: pointer;
}

.page-number {
    display: flex;
    justify-content: center;
    align-items: center;
}