.hero-library {
  padding: 40px 31px 144px 0px;
  margin: 0 auto;
  height: 380px;
  max-width: 1280px;
  background-color: #0e0e0e;
  background-image: linear-gradient(
      83.48deg,
      #0e0e0e 25.78%,
      rgba(14, 14, 14, 0) 60.07%
    ),
    url(/src/images/hero_library.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet {
    height: 372px;
    padding: 62px 347px 118px 0;
  }

  @include desktop {
    width: auto;
    height: 660px;
    padding: 169px 667px 249px 85px;
  }
}
.hero-library__content {
  @include tablet {
    width: 357px;
  }

  @include desktop {
    width: 464px;
  }
}

.hero-library__title {
  color: $bulb-bgc;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 8px;

  @include tablet {
    font-size: 44px;
    line-height: 1.18;
  }

  @include desktop {
    font-size: 64px;
    line-height: 1.17;
  }
}
.hero-library__text {
  color: $bulb-bgc;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;

  @include desktop {
    font-size: 16px;
    line-height: 1.19;
  }
}

.empty-library.hidden {
  display: none;
}

.empty-library {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #111;
  padding-top: 44px;
  padding-bottom: 42px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  @include desktop {
    width: auto;
    padding-top: 160px;
    padding-bottom: 108px;
  }
}
.empty-library__text {
  color: $bulb-bgc;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;

  @include tablet {
    font-size: 24px;
    line-height: 1.3;
  }

  @include desktop {
    font-size: 32px;
    line-height: 1.13;
  }
}
.catalog-library__btn {
  display: block;
  width: 121px;
  height: 38px;
  margin: 20px auto 0;
  padding: 12px 24px;
  border-radius: 74px;
  border: none;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

  color: #111;
  font-family: inherit;
  font-weight: 500;

  @include tablet {
    width: 133px;
    height: 40px;
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.14;
  }

  @include desktop {
    width: 158px;
    height: 52px;
    margin-top: 28px;
    font-size: 18px;
    line-height: 1.6;
  }
}
.catalog-library {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0px;
  background-color: #111;
}
.catalog-library.hidden {
  display: none;
}

.catalog-library__list {
  margin: -8px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-library__item {
  position: relative;
  margin: 8px;
  width: 100%;
  height: auto;

  @include tablet {
    width: calc((100% - 6 * 8px) / 3);
  }
}

.catalog-library__img {
  width: 100%;
  height: auto;

  @include desktop {
    height: 574px;
  }
}

.catalog-library__description {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
}

.catalog-library__text {
  font-size: 20px;
  line-height: 1.2;
  color: #b7b7b7;

  &:first-child {
    text-transform: uppercase;
    color: $mainLightColor;
  }
}
