.page-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

// .page-number {
//     display: inline-block;
//     width: 32px;
//     height: 32px;
//     line-height: 32px;
//     text-align: center;
//     margin: 0 8px;
//     font-weight: bold;
//     cursor: pointer;
//     border-radius: 50%;
//     border: none;
//     background-color: #fff;
//     color: #333;
//     transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
// }

// .page-number.active {
//     background-color: #333;
//     color: #fff;
// }

// .page-number:hover {
//     background-color: #333;
//     color: #fff;
// }