@import './container';
@import './header-home';
@import './header-library';
@import './header-catalog';
@import './buttons';
@import './main_for_index';
@import './footer';
@import './modal-window';
@import './card';
@import './team-modal';
@import './button-up';
@import './them-switcher';
@import './pagination';
@import './main_for_library';
@import './main_for_catalog';
@import './hero';
@import './trailer';